##*Elizabeth Torres Torrecillas*

# *Actividad 3*



---

---

---

In [90]:
#importar bibliotecas a utilizar
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [104]:
#Guardamos el archivo .txt que subimos a Github en la variable url
url='https://raw.githubusercontent.com/elizabethtorrest/Fisica-Computacional/F%C3%ADsica-Computacional/Actividad%203/Climatologia%20Imuris%20Sonora.txt'

# Definimos los nombres de las columnas
type_data = ['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin']

#leemos el archivo .txt que subimos a github y lo convertimos a csv
df_dist=pd.read_csv(url, names=type_data, encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python')
print(df.info)

<bound method DataFrame.info of             Fecha Precip  Evap  Tmax Tmin
0      01/01/1981      0  Nulo    27    5
1      02/01/1981      0  Nulo    25    5
2      03/01/1981      0  Nulo    26    6
3      04/01/1981      0  Nulo  22.5    7
4      05/01/1981      0  Nulo  22.5    6
...           ...    ...   ...   ...  ...
12134  26/04/2016      0  Nulo    28    5
12135  27/04/2016      0  Nulo    25    5
12136  28/04/2016      0  Nulo    25    5
12137  29/04/2016      0  Nulo    23    4
12138  30/04/2016      0  Nulo    23    6

[12139 rows x 5 columns]>

* **Se imprime el encabezado y final del dataframe**

In [105]:
#Se imprime el encabezado y el final del dataframe
print(df_dist.head())
print(df_dist.tail())

        Fecha Precip  Evap  Tmax Tmin
0  01/01/1981      0  Nulo    27    5
1  02/01/1981      0  Nulo    25    5
2  03/01/1981      0  Nulo    26    6
3  04/01/1981      0  Nulo  22.5    7
4  05/01/1981      0  Nulo  22.5    6
            Fecha Precip  Evap Tmax Tmin
12134  26/04/2016      0  Nulo   28    5
12135  27/04/2016      0  Nulo   25    5
12136  28/04/2016      0  Nulo   25    5
12137  29/04/2016      0  Nulo   23    4
12138  30/04/2016      0  Nulo   23    6

* **¿Qué dimensiones tiene el frame?**

In [106]:
# Utilizamos la función shape para concer su tamaño (renglones, columnas)
df_dist.shape

(12139, 5)

* **¿Cómo es el contenido de tu dataframe?**

In [107]:
# Información del dataframe
df_dist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12139 entries, 0 to 12138
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   12139 non-null  object
 1   Precip  12139 non-null  object
 2   Evap    12139 non-null  object
 3   Tmax    12139 non-null  object
 4   Tmin    12139 non-null  object
dtypes: object(5)
memory usage: 474.3+ KB

* **Remplazamos un caracter** 

>  Los datos originales incluyen la cadena de caracteres 'Nulo', indicando que no hubo datos para esa variable, ese día. Reemplazamos la palabra 'Nulo' con la función: df.replace()

In [108]:
#Hacemos una copia del trabajo y preservamos el dataframe original
df_work0 = df_dist.copy()
df_work0.head()

# Reemplazamos los textos 'Nulo' por espacio en blanco ''
str_Nulo = 'Nulo'
df_work1 = df_work0.replace(to_replace=str_Nulo, value='', regex=True)
df_work1.head()

        Fecha Precip Evap  Tmax Tmin
0  01/01/1981      0         27    5
1  02/01/1981      0         25    5
2  03/01/1981      0         26    6
3  04/01/1981      0       22.5    7
4  05/01/1981      0       22.5    6

* **Convertimos valores de variables a números flotantes**
> Después habrá que convertir a número flotante o numérico los datos de Precipitación, Evaporación, Temperatura Máxima y Temperatura mínima utilizando la función: df.to_numeric()

In [109]:
#Convertimos los valores de las variables ambientales a números flotantes
inf_met = ['Precip', 'Evap', 'Tmax', 'Tmin']
for inf in inf_met:
  df_work1[inf] = pd.to_numeric(df_work1[inf], errors='coerce')

* **Contrastamos la información del DataFrame**
> Esto se realiza con ayuda de la función: df.info()

In [110]:
#verificamos que si se haya realizado la conversión de valores variables a números flotantes.
df_work1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12139 entries, 0 to 12138
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   12139 non-null  object
 1   Precip  12134 non-null  float64
 2   Evap    0 non-null      float64
 3   Tmax    11972 non-null  float64
 4   Tmin    11979 non-null  float64
dtypes: float64(4), object(1)
memory usage: 474.3+ KB

* **Se contabiliza el número de datos faltantes en las variables**
> Esto se realiza con ayuda de la función df.isnull().sum()

In [111]:
#Notamos que hay valores nulos
#Sumamos los valores nulos

df_work1.isnull().sum()

Fecha         0
Precip        5
Evap      12139
Tmax        167
Tmin        160
dtype: int64

* **Imprimimos de nuevo el encabezado y el final del dataframe**
> Esto se realiza con ayuda de las funciones df.head() y df.tail()

In [112]:
#Imprimimos el envabezado y el final del dataframe
print(df_work1.head())
print(df_work1.head())

        Fecha  Precip  Evap  Tmax  Tmin
0  01/01/1981     0.0   NaN  27.0   5.0
1  02/01/1981     0.0   NaN  25.0   5.0
2  03/01/1981     0.0   NaN  26.0   6.0
3  04/01/1981     0.0   NaN  22.5   7.0
4  05/01/1981     0.0   NaN  22.5   6.0
        Fecha  Precip  Evap  Tmax  Tmin
0  01/01/1981     0.0   NaN  27.0   5.0
1  02/01/1981     0.0   NaN  25.0   5.0
2  03/01/1981     0.0   NaN  26.0   6.0
3  04/01/1981     0.0   NaN  22.5   7.0
4  05/01/1981     0.0   NaN  22.5   6.0

* **Realizamos una estadística básica de las variables numéricas del dataframe y hacemos una interpretación de los resultados, para ver si tienen sentido físico**
> Esto con ayuda de la función df.describe()

In [113]:
#Se hace análisis estadístico de las variables numéricas
#Redondeamos a 2 cifras significativas
df_work1.describe().round(2)

         Precip  Evap      Tmax      Tmin
count  12134.00   0.0  11972.00  11979.00
mean       1.28   NaN     28.38     10.36
std        5.68   NaN      7.44      7.08
min        0.00   NaN      5.00    -10.00
25%        0.00   NaN     23.00      4.50
50%        0.00   NaN     29.00     10.00
75%        0.00   NaN     34.00     17.00
max      130.00   NaN     45.00     28.00

* **Análisis de la variable Fecha**
> Hacemos una copia del dataframe del paso anterior, por si se requiere recuperar el nuevo dataframe, utilizando df:new=df.copy()

In [114]:
#Definimos un nuevo DataFrame por si hay que regresarse.
df_work2 = df_work1.copy()
#Este va a tener el nombre 'Fecha'
#El tipo es objeto
df_work2['Fecha'].head()

0    01/01/1981
1    02/01/1981
2    03/01/1981
3    04/01/1981
4    05/01/1981
Name: Fecha, dtype: object

* **Convertimos el objeto Fecha a formato de fecha que comprende Python**
> Esto con ayuda de la función de Pandas pd.to_datetime()

In [117]:
#Aquí vamos a convertir del tipo objeto a el formato que el lenguaje utilizado comprende
#Esto ya que la variable tipo fecha de Python, contiene mucha información condensada
#La función pd.to_datetime convierte una cadena en tipo datetime64[ns]
# Agregamos la opción de que el primer dato es el día (dayfirst=True) 
df_work2['Fecha'] = pd.to_datetime(df_work2['Fecha'], dayfirst=True)

* **Verificar que todas las variables son del tipo deseado**
> Esto con ayuda de la función df.dtypes

In [119]:
df_work2.dtypes

Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
Año                int64
Mes                int64
dtype: object

* **Creamos dos columnas nuevas adicionales df['Año'] y df['Mes'].**
> Con ayuda de las funciones de Pandas df['Fecha'].dt.year y df['Fecha'].dt.month

In [118]:
#Formato de año
df_work2['Año'] = df_work2['Fecha'].dt.year
#Formato de mes
df_work2['Mes'] = df_work2['Fecha'].dt.month
print(df_work1.head())

        Fecha  Precip  Evap  Tmax  Tmin
0  01/01/1981     0.0   NaN  27.0   5.0
1  02/01/1981     0.0   NaN  25.0   5.0
2  03/01/1981     0.0   NaN  26.0   6.0
3  04/01/1981     0.0   NaN  22.5   7.0
4  05/01/1981     0.0   NaN  22.5   6.0

* **Verificamos que el dataframe tiene la forma deseada**
> Esto con ayuda de la función print aplicado a las funciones df.head() y df.tail()

In [124]:
#Imprimimos los primeros 20 datos del DataFrame
print(df_work2.head(20))
#Imprimimos los últimos 20 datos del DataFrame
print(df_work2.tail(20))

        Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0  1981-01-01     0.0   NaN  27.0   5.0  1981    1
1  1981-01-02     0.0   NaN  25.0   5.0  1981    1
2  1981-01-03     0.0   NaN  26.0   6.0  1981    1
3  1981-01-04     0.0   NaN  22.5   7.0  1981    1
4  1981-01-05     0.0   NaN  22.5   6.0  1981    1
5  1981-01-06     7.0   NaN  20.0   7.0  1981    1
6  1981-01-07     7.0   NaN  15.0  10.0  1981    1
7  1981-01-08     0.0   NaN  17.5   6.0  1981    1
8  1981-01-09     0.0   NaN  21.0   5.0  1981    1
9  1981-01-10     2.0   NaN  21.0   5.5  1981    1
10 1981-01-11     5.0   NaN  18.0   9.0  1981    1
11 1981-01-12    20.0   NaN  17.0  12.0  1981    1
12 1981-01-13     6.2   NaN  19.0  10.0  1981    1
13 1981-01-14     0.0   NaN  20.0   3.5  1981    1
14 1981-01-15     3.2   NaN  20.0   4.0  1981    1
15 1981-01-16     0.0   NaN  20.0   8.0  1981    1
16 1981-01-17     0.0   NaN  15.0   9.0  1981    1
17 1981-01-18     0.0   NaN  11.0   2.0  1981    1
18 1981-01-19     0.0   NaN  20.5   2.0  1981    1
19 1981-01-20     0.0   NaN  19.5   3.5  1981    1
           Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
12119 2016-04-11     0.0   NaN  19.0   5.0  2016    4
12120 2016-04-12     0.0   NaN  23.0   7.0  2016    4
12121 2016-04-13     0.0   NaN  27.0   7.0  2016    4
12122 2016-04-14     0.0   NaN  27.0   8.0  2016    4
12123 2016-04-15     0.0   NaN  25.0   8.0  2016    4
12124 2016-04-16     0.0   NaN  21.0   5.0  2016    4
12125 2016-04-17     0.0   NaN  25.0   4.0  2016    4
12126 2016-04-18     0.0   NaN  27.0   5.0  2016    4
12127 2016-04-19     0.0   NaN  30.0   5.0  2016    4
12128 2016-04-20     0.0   NaN  31.0   8.0  2016    4
12129 2016-04-21     0.0   NaN  32.0   7.0  2016    4
12130 2016-04-22     0.0   NaN  32.0   7.0  2016    4
12131 2016-04-23     0.0   NaN  32.0   8.0  2016    4
12132 2016-04-24     0.0   NaN  28.0   7.0  2016    4
12133 2016-04-25     0.0   NaN  29.0   6.0  2016    4
12134 2016-04-26     0.0   NaN  28.0   5.0  2016    4
12135 2016-04-27     0.0   NaN  25.0   5.0  2016    4
12136 2016-04-28     0.0   NaN  25.0   5.0  2016    4
12137 2016-04-29     0.0   NaN  23.0   4.0  2016    4
12138 2016-04-30     0.0   NaN  23.0   6.0  2016    4

* **Verificamos que todas las variables son del tipo adecuado**
> Esto con ayuda de la función df.dtypes

In [126]:
#Ahora si verificamos que cambiamos el tipo de datos, en este caso a fecha y tiempo.
print(df_work2.dtypes)

Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
Año                int64
Mes                int64
dtype: object